<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Erne Salih</h2>
            <h4>example&#64;email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

    </div>
    <mat-divider></mat-divider>
    <div style="padding-left: 15px;">
        <h2 matSubheader>Pages</h2>
        
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    </div>
    <mat-divider></mat-divider>

    <div style="padding-left: 15px;">
        <h2 matSubheader>Tools</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>contact_phone</mat-icon>
            Leads
        </a>
    </div>
</mat-nav-list>